<div>
  <div class="m-4">
    <p class="text-center h4">{{title}}</p>
  </div>

  <div>
    <form [formGroup]="form" #ngForm="ngForm" (submit)="onSubmit(ngForm)">
      <div
        class="form-group row justify-content-center"
        [ngClass]="{'hasError': form.controls['household_token'].invalid && form.controls['household_token'].touched}">
        <label for="flat" class="col-2 col-form-label">Flat</label>
        <div class="col-sm-4 col-md-3 col-lg-2">
          <input id="flat" name="flat" type="number" class="form-control" formControlName="household_token">
          <p class="text-danger mb-0"
             *ngIf="form.controls['household_token'].invalid && (form.controls['household_token'].touched || ngForm.submitted)">
            Flat is required
          </p>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label for="select" class="col-2 col-form-label">Location</label>
        <div class="col-sm-4 col-md-3 col-lg-2">
          <select id="select" name="select" class="custom-select" [formControlName]="'location'">
            <option *ngFor="let location of locations" [value]="location.value">{{location.title}}</option>
          </select>
          <p class="text-danger mb-0"
             *ngIf="form.controls['location'].invalid && (form.controls['location'].touched || ngForm.submitted)">
            Location is required
          </p>
        </div>
      </div>
      <div class="form-group row justify-content-center mt-4">
        <div class="">
          <button name="submit" type="submit" class="btn btn-primary">Submit</button>
          <button name="cancel" type="button" class="btn" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>