<div class="container-fluid">

  <div class="row justify-content-end m-4">
    <div class="">
      <button class="btn btn-success" (click)="onAddThermostat()">Create Thermostat</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Flat</th>
          <th scope="col">Location</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{item.id}}</td>
          <td>{{item.household_token}}</td>
          <td>{{item.location}}</td>
          <td>
            <button class="btn btn-info mr-4" (click)="onView(item.id)">
              <fa-icon [icon]="faEye"></fa-icon>
            </button>
            <button class="btn btn-danger" (click)="onDelete(item.id)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>