<div class="container-fluid">
  <div class="m-4">
    <p class="text-center h4">{{title}} <span *ngIf="thermostat">Flat: {{thermostat.household_token}} "{{thermostat.location}}"</span></p>
  </div>

  <div class="row m-4">
    <button name="back" type="button" class="btn btn-outline-danger" (click)="onCancel()">Back</button>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Temperature</th>
          <th scope="col">Humidity</th>
          <th scope="col">Battery Charge</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of reading; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{item.id}}</td>
          <td>{{item.temperature}} &#176;C</td>
          <td>{{item.humidity}} %</td>
          <td>{{item.battery_charge}} %</td>
        </tr>
        </tbody>
      </table>

      <nav aria-label="table-pagination" *ngIf="reading.length">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled' : currentPage === 1}">
            <a class="page-link" (click)="onPrevPage()" tabindex="-1" aria-disabled="true">Previous</a>
          </li>

          <li
            class="page-item"
            *ngFor="let item of [].constructor(totalPages); let i = index"
            [ngClass]="{'active' : currentPage === (i + 1)}"
          >
            <a class="page-link" (click)="onGoToPage(i + 1)">{{i + 1}}</a>
          </li>

          <li class="page-item" [ngClass]="{'disabled' : currentPage === totalPages}">
            <a class="page-link" (click)="onNextPage()">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>