<div class="container-fluid">

  <div class="form-group row justify-content-center mb-3">
    <label for="flat" class="col-2 col-form-label">Flat: </label>
    <div class="">
      <div class="mb-3">
        <input id="flat" class="col-4" name="flat" type="number" (change)="onSelectFlat()" [(ngModel)]="flat">
      </div>

      <p class="text-danger mb-0"
         *ngIf="errorText">
        {{errorText}}
      </p>
    </div>
  </div>

  <div class="thermostats">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3" *ngFor="let thermostat of thermostats">
        <div
          class="card"
          [ngClass]=
            "(thermostat.reading.battery_charge === null)
            ? 'border-primary'
            : ((thermostat.reading.battery_charge > 10) ? 'border-success' : 'border-danger')"
        >
          <div
            class="card-header"
            [ngClass]=
              "(thermostat.reading.battery_charge === null)
            ? 'border-primary'
            : ((thermostat.reading.battery_charge > 10) ? 'border-success' : 'border-danger')"
          >
            <p class="m-0">
              {{thermostat.location}}
              <span [hidden]="thermostat.reading.humidity" class="spinner-border spinner-border-sm float-right p-2" role="status">
                <span class="sr-only">Loading...</span>
              </span>
            </p>
          </div>
          <div class="card-body">
            <p class="card-text">Temperature: {{thermostat.reading.temperature || 'n/a'}} &#176;C</p>
            <p class="card-text">Humidity: {{thermostat.reading.humidity || 'n/a'}} %</p>
            <p class="card-text">Battery charge: {{thermostat.reading.battery_charge || 'n/a'}} %</p>
            <button class="btn btn-primary" (click)="onHistory(thermostat.id)">History</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
