
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col mt-3 mb-3">
      <p class="h1 text-center">{{title}}</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center mb-5">
    <div>
      <!-- your navs bound to current route fragments -->
      <ul ngbNav [activeId]="route.url | async" class="nav-pills">
        <li>
          <button class="btn btn-link" disabled>Select role:</button>
        </li>
        <li [ngbNavItem]="link.url" *ngFor="let link of links">
          <a class="btn" ngbNavLink (click)="onSelectRole(link.url)">{{ link.title }}</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- and an actual outlet elsewhere -->
  <router-outlet></router-outlet>

</div>